body{
  background: #333;
}
canvas{
  background: #000;
  display: block;
  margin: 20px auto 0 auto;
}

#helpers {
  position: absolute;
  left: 0;
  top: 0;
}

#debug {
  position: absolute;
  right: 0;
  top: 0;
  background: #aaa;
}

#helpers img {
  display: block;
}

