*~
*.pyc
*.swp
trace/*
EM_clustering/*.png
configurator/build/*
out/*
trace/*
density_maps/*
other/*
**.DS_Store
**.couchapprc
**.couchappignore
*.png
*.pkl.gz
projects/fake_txt/out/*
hashmapd.egg-info/*
build/*

