*~
*.pyc
*.swp
trace/*
EM_clustering/*.png
configurator/build/*
out/*
trace/*
density_maps/*
other/*
**.DS_Store
**.couchapprc
**.couchappignore
*.png
*.pkl.gz
*.csv
*.xlsx
projects/fake_txt/out/*
hashmapd.egg-info/*
build/*
config/secrets.cfg
demo/*
Thumbs.db
dropbox
amazon/credentials.csv
amazon/ec2-bashrc
.emacs.*
